/* this css file will only style the homepage of our site */

body {
  background-color: #e1ceb0;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: 'Times New Roman', Times, serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 0px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #e1ceb0;
  background-color: #e1ceb0;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #e1ceb0;
  background-color: #e1ceb0;
}

.my-portrait {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}
