/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #5774b4;
    background-color: #a5aad2;
  }

  body {
    background-color: #dfe5ff;
  }

h1, h2 {
  font-family: 'Helvetica'
}

  p {
    font-family: 'Helvetica';
    position: center;
    margin: 20px;
    color: #ffffff;
  }