.challenge, .problems, .results {
    padding: 10px;
    margin-bottom: 15px;
    border: solid 10px rgb(210, 82, 172);
    background-color: #ffd2f2;
  }

body {
  background-color: #ffefb9;
}
#content {
  border: solid 0px;
  background-color: #ffefb9;
}

h1, h2 {
    color: #98006b;
    font-family: 'Helvetica'
}

p {
    color: rgb(213, 104, 186);
    font-size: 20px;
    font-family: 'Helvetica'
}

#links ul {
    list-style: none;
  }
  
  .text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(115, 187, 91);
    color: white;
    font-family: sans-serif;
}