/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  .file-structure {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .taskone {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .tasktwo {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .taskthree {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .tasktwo-two {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .taskthree-two {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }