.challenge, .problems, .results {
    padding: 10px;
    margin-bottom: 15px;
  }

body {
  background-color: #ffffff;
}
#content {
  border: solid 0px;
  background-color: #ffffff;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h1 {
    color: #a16a49;
    font-family: 'Comic Sans MS';
}

h2 {
    color: #b58160;
    font-family: 'Comic Sans MS';
}

p {
    color: #cf9b7a;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    text-align: center;
}

#links ul {
    list-style: none;
    font-family: Comic Sans MS;
  }

  .input-output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beagle-gif {
    width: 200px; /* Set the width of the image to 200 pixels */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
    display: block; /* Make the image a block-level element to center it horizontally */
    margin: 0 auto; /* Center the image horizontally by adding margin */
}