/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 15px;
    border: solid 1px #f5e9c1;
    background-color: #f5e9c1;
  }

body {
  background-color: #f5e9c1;
}
#content {
  border: solid 0px;
  background-color: #f5e9c1;
}
 @font-face {
  font-family: "fontgirl.ttf";
  src: url("../img/fontgirl.ttf") format("truetype");
 }
h1 {
  font-family: 'fontgirl.ttf';
}

h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 300%;
  text-align: center;
}

h2 {
  font-family: 'fontgirl.ttf';
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.dog-image {
  width: 200px; /* Set the width of the image to 200 pixels */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  display: right; /* Make the image a block-level element to center it horizontally */
  margin: -300px auto; /* Center the image horizontally by adding margin */
}
